body {
  font-family: "Montserrat", "sans-serif";
  color: #111; }

h1 {
  font-family: "Montserrat", serif;
  color: white;
  font-size: 60px; }

h2 {
  color: white;
  margin-top: 0px;
  border-bottom: 1px dashed #f71e0c;
  font-size: 28px; }

h3 {
  color: white;
  font-size: 20px;
  padding-bottom: 0px;
  padding-right: 10px;
  margin-bottom: 10px; }

section {
  font-size: 14px; }

em {
  font-size: 1.5em;
  position: relative;
  top: -10px; }

a {
  color: #f71e0c; }
  a.project-link {
    color: white; }
    a.project-link h3 {
      position: relative;
      margin-left: 43px; }
    a.project-link--github h3::before {
      display: block;
      content: '';
      position: absolute;
      left: -43px;
      top: 3px;
      width: 35px;
      height: 35px;
      background-image: url("/images/GitHub-Mark-Light-32px.png");
      background-size: cover; }
    a.project-link--web h3::before {
      display: block;
      content: '';
      position: absolute;
      left: -43px;
      top: 3px;
      width: 35px;
      height: 35px;
      background-image: url("/images/Globe_icon-white.svg");
      background-size: cover; }

.project-category {
  color: white;
  font-size: 16px; }

a:hover {
  color: red; }

* {
  box-sizing: border-box; }

body {
  background-color: #ff8c00;
  margin: 0px;
  padding: 0px; }

header {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: radial-gradient(ellipse farthest-side at top, #f7c224 0%, rgba(255, 255, 255, 0) 100%), url("../images/header_bg.png");
  background-size: cover;
  position: relative; }
  header::after {
    content: '';
    display: block;
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0px;
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
    border-bottom: 30px solid #ff8c00; }
  header strong {
    color: rgba(255, 255, 255, 0.9); }
  header h1 {
    margin-bottom: 0px;
    line-height: 1.1em;
    text-align: left;
    position: relative;
    z-index: 0;
    overflow: hidden; }
    header h1::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 6px;
      z-index: -1;
      width: 100%;
      height: 3px;
      background-color: #f71e0c; }
    header h1::after {
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      z-index: -1;
      left: -100%;
      bottom: 6px;
      background-color: white;
      transition-property: left;
      transition-duration: 0.5s; }
    header h1:hover::after {
      left: 0%; }
  header p {
    margin-top: 10px;
    text-align: right;
    font-size: 18px;
    line-height: 1.2em; }

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px; }
  nav ul li {
    padding-left: 30px;
    position: relative; }
    nav ul li::after {
      display: block;
      content: '';
      background-color: white;
      position: absolute;
      right: -17px;
      bottom: calc(50% - 2px);
      height: 4px;
      width: 4px;
      border-radius: 50%; }
    nav ul li:last-child::after {
      display: none; }

section {
  padding: 5vh 10vw;
  background-image: linear-gradient(to right, #ff8c00, rgba(247, 194, 36, 0.7), #ff8c00); }
  section:first-of-type h2 {
    margin-top: 5vh; }
  section:nth-child(even) {
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)); }
  section:nth-child(odd) {
    background-image: linear-gradient(to bottom left, #f68b15, rgba(255, 255, 255, 0.1)); }
  section#about, section#work {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section#about h3, section#work h3 {
      display: inline; }
    section#about .project-link, section#work .project-link {
      display: inline-block;
      margin-top: 25px; }
    section#about .project-category, section#work .project-category {
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      bottom: -1px; }
      @media (max-width: 700px) {
        section#about .project-category, section#work .project-category {
          display: block;
          margin-left: 42px; } }
    section#about .project-tools, section#work .project-tools {
      display: flex;
      list-style-type: none;
      margin: 3px 0px;
      padding: 0px 0px 0px 44px; }
      @media (max-width: 700px) {
        section#about .project-tools, section#work .project-tools {
          flex-direction: column;
          padding: 0px 0px 0px 33px; } }
      section#about .project-tools li, section#work .project-tools li {
        padding: 0px 10px;
        position: relative;
        text-transform: uppercase;
        font-size: 10px; }
        @media (min-width: 700px) {
          section#about .project-tools li:first-child, section#work .project-tools li:first-child {
            padding-left: 0px; }
            section#about .project-tools li:first-child::before, section#work .project-tools li:first-child::before {
              display: none; } }
        section#about .project-tools li::before, section#work .project-tools li::before {
          position: absolute;
          left: -1px;
          top: calc(50% - 1px);
          height: 2px;
          width: 2px;
          background-color: #111;
          border-radius: 50%;
          display: block;
          content: ''; }
  section#contact a {
    display: inline-block;
    position: relative; }
    section#contact a:not(:first-child) {
      margin-left: 25px; }
      section#contact a:not(:first-child):before {
        display: block;
        content: "";
        position: absolute;
        left: -16px;
        top: 11px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: white; }
  section#contact h3 {
    padding: 0px;
    margin: 0px; }
