* {
	box-sizing: border-box;
}

#top-links {
	float: right;
	height: 32px;
}

#contact {
	display: inline-block;
	margin-left: 5px;
	border-left: 2px solid black;
}

.icon-link {
	position: relative;
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-left: 60px;
	background-position: center;
	background-repeat: no-repeat;
}

.icon-link-github {
	background-image:url('../images/octocat.png');
	background-size:32px;
}

.icon-link-github:hover {
	background-image:url('../images/octocat-spinner.gif');
}

.hover-text, .icon-link:hover .icon-link-github-pointers {
	display:none;
}

.icon-link:hover .hover-text, .icon-link-github-pointers {
	display:block;
	position: absolute;
	left: -45px;
	text-align:right;	
	color: #000;
}

.email-address {
  display: block;
  position: absolute;
  left: -134px;
  font-weight: bold;
}

.icon-link-email {
	top: -6px;
}

.icon-link-email i {
	position: relative;
	top: -2px;
	font-size: 32px;
	color: #000;
}

body {
	background-color: #f0e8e8;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.3em;
}

header {
	background-color: #fff;
}

header h1 {
	font-family: 'Lobster', Arial, sans-serif;
	font-size: 40px;
	padding-bottom: 7px;
}

.title-subtext {
	margin-left: 13px;
}

a, a:hover, a:visited {
	text-decoration: none;
	font-weight: bold;
}

a {
	color: #b62f33;
}

a:visited {
	color: #FD9194;
}

a:hover {
	color: #E05B5E;
}

h2 {
	font-size: 20px;
	padding: 10px 10px 12px 10px;
	text-decoration: none;
	width:100%;
	color: #FFF;
	background-color: #6d1c1e;
}

h3 {
	font-size: 15px;
	margin-top: 24px;
	padding-bottom:7px;
	padding-right:12px;
}

p, ul, h3 {
	margin-left: 12px;
}

p {
	margin-top: 1em;
	margin-bottom: 6px;
}

em {
	font-weight: 700;
}

.small {
	font-size: 9px;
}

ul {
	list-style: square outside;
	position: relative;
	padding-left: 1.4em;
	overflow: hidden;
}

li {
	padding-bottom: .4em;
	width: auto;
}

header {
	border-bottom: 3px #b62f33 solid;
}

#header-wrap {
	margin: auto;
	padding: 40px 0px 10px 0px;
	max-width: 1000px;
	text-align: left;
}

section {
	max-width: 1000px;
	margin: auto;
	position: relative;
}

.section-wrap {
	width: 100%;
	padding: 40px 0px;
	margin: 50px 0px;
}

#about-wrap {
	border-top: 6px solid #6d1c1e;
	border-bottom: 4px solid #571618;
	background: linear-gradient(30deg, #8a494a 0%, #8a494a 10%,
									   #7b3234 10%, #7b3234 30%,
									   #6d1c1e 30%, #6d1c1e 35%,
									   #62191b 35%, #62191b 60%,
									   #571618 60%, #571618 75%,
									   #4c1315 75%, #4c1315 85%,
									   #411012 85%, #411012 100% );
	color: #f0e8e8;
	margin-top: 2px;
	overflow: hidden;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 0px;
	line-height: 1.2em;
}

#about {
	padding: 0px 70px;
}

#toolbelt-wrap {
	margin-top: 2px;
	border-top: 3px solid #62191b;
	color: #62191b;
}

#toolbelt {
	font-size: 50px;
	padding: 15px 10px;
	margin: auto;
	max-width: 1000px;
	text-align: left;
}

.tool-right {
	float: right;
	margin-left: 15px;
}

#headshot {
	width: 148px;
	height: 148px;
	background-image: url('../images/headshot.jpg');
	background-size: cover;
	float: left;
	margin-right: 40px;
}

#toTop {
	position: fixed;
	right: 30px;
	top: 0px;
	display: none;
	padding: 10px 20px 10px;
	border: 2px solid #62191b;
	border-bottom: none;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-align:right;
	background-color: #62191b;
	color: #fff;
}

/*
#toTop:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 100%;
	right: 19px;
	margin: auto;
	width: 0;
	height: 0;
	border-bottom: 10px solid #62191b;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
*/

#toTop a {
	color: #fff;
}

#toTop a:hover {
	color: #e1d1d2;
}

#projects {
	position: relative;
}

.column-container {
	width: 94%;
	margin: auto;
}

.column-container:before {
	height: 1px;
	background: #CCC;
	width: 60%;
	margin: 9px auto;
	display: block;
	content: "";
}

.column {
	float: left;
	width: 32%;
	padding-bottom: 2em;	
	margin-right: 2%;
}

.column p {
	margin-top: 0px;
}

.c-end {
	margin-right: 0px;
}

canvas {
	vertical-align:top;
	float:right;
	margin-left: 30px;
	background:url(../images/fishtank-alt-bg.png);
}

article {
	margin-top: 40px;
	background-color: #f3f6ff;
	box-shadow:-2px 5px 5px #CCC;
}

article:before,
article:after {
  content: "";
  display: table;
}
article:after {
  clear: both;
}

.left {
	float: left;
}

#projects section {
	padding: 0px;
}

#slider1_container {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 562px;
}

footer {
	height: 200px;
}

#slides img {
	max-width:100%;
}



/*******************************
*******************************

These are the styles for 
the JS/jQ Etchasketch section

*******************************
********************************/


#button-wrap {
	width: 402px;
	margin-left: 30px;
	padding: 0px 0px 6px 0px;
	float: right;
}

#etchasketch input[type="text"] {
	width: 30px;
}

#button-wrap p {
	float: left;
	margin: 0px;
}

#etchasketch button {
	float: right;
}

#sketch-wrap {
	position: relative;
	float: right;
	width: 402px;
	height: 402px;
	margin-left: 30px;
	border: 1px solid black;
	clear: both;
	background: #FFF;
}

.row {
	clear: left;
}
.cell {
	float: left;
	background-color: blue;
}